.order-left {
  width: calc( 100% - 635px ); }
  .order-left .flex {
    display: flex; }
    .order-left .flex:after {
      display: none; }
    .order-left .flex:before {
      display: none; }
  .order-left .s-between {
    justify-content: space-between; }
  .order-left .login-btn {
    margin-right: 15px; }
    .order-left .login-btn:hover {
      text-decoration: none !important; }

.order-right {
  width: 606px;
  position: relative; }
  .order-right .cart {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    width: 606px;
    top: 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2); }
    .order-right .cart .title {
      padding: 0 0 17px;
      font-size: 19px;
      font-weight: 500;
      color: #575757; }
      .order-right .cart .title h3 {
        font-size: 19px; }
  .order-right .cart-item {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-top: -1px;
    padding: 15px 25px 15px 0;
    position: relative;
    overflow: hidden;
    display: flex; }
    .order-right .cart-item .this-remove {
      position: absolute;
      right: 1px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(http://domprobki.bi3x.org/local/templates/Akweb/images/bg-tag-delete.png) no-repeat; }
    .order-right .cart-item .packs {
      font-size: 15px;
      color: #838383;
      margin-left: 7px;
      font-weight: bolder; }
    .order-right .cart-item:first-child {
      margin-top: 0; }
    .order-right .cart-item .cell {
      display: flex; }
    .order-right .cart-item .quantity .number {
      padding: 3px 6px;
      font-size: 14px;
      width: 60px;
      height: 30px; }
    .order-right .cart-item .quantity .plus, .order-right .cart-item .quantity .minus {
      width: 28px;
      height: 30px;
      padding: 0;
      line-height: 20px;
      background: #f9f9f9;
      border: 1px solid #e8e8e8;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF; }
      .order-right .cart-item .quantity .plus:active, .order-right .cart-item .quantity .plus:hover, .order-right .cart-item .quantity .plus:focus, .order-right .cart-item .quantity .minus:active, .order-right .cart-item .quantity .minus:hover, .order-right .cart-item .quantity .minus:focus {
        text-decoration: none; }
    .order-right .cart-item .image {
      width: 60px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .order-right .cart-item .image img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        width: auto;
        height: auto; }
    .order-right .cart-item .cell-wrap {
      display: flex;
      align-items: center; }
    .order-right .cart-item .item-char {
      width: calc( 100% - 60px );
      padding-left: 15px; }
      .order-right .cart-item .item-char .name {
        display: block;
        width: 100%;
        color: #2d2d2d;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        transition: color 0.1s ease; }
        .order-right .cart-item .item-char .name:hover {
          color: #C4010C;
          text-decoration: none; }
      .order-right .cart-item .item-char .quantity {
        display: flex;
        align-items: center;
        justify-content: space-between; }
  .order-right .bot-line .price {
    color: #C4010C;
    font-size: 18px;
    font-weight: bold; }
  .order-right .total-holder {
    margin: 20px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; }
    .order-right .total-holder .total {
      width: auto;
      color: #a2a2a2;
      font-size: 16px;
      line-height: 30px; }
      .order-right .total-holder .total td:first-child {
        padding-right: 35px; }
    .order-right .total-holder .total-text {
      color: #575757;
      font-size: 17px;
      font-weight: 500; }
    .order-right .total-holder .total-price {
      font-size: 22px;
      font-weight: bold;
      color: #C4010C; }

.order-steps {
  width: 100%;
  position: relative; }

.order-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: space-between; }
  .order-form .link {
    color: #C4010C;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 20px;
    border-bottom: 1px dashed #C4010C; }
    .order-form .link:hover {
      border-bottom: 1px dashed transparent; }
    .order-form .link:hover, .order-form .link:active, .order-form .link:focus {
      text-decoration: none; }
  .order-form textarea {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    overflow: auto;
    padding: 10px 15px;
    font-size: 17px;
    color: #575757; }
  .order-form .suggest {
    margin: 0 0 15px;
    padding: 0 0 0 40px;
    background: url("../img/ico-suggestion.png") no-repeat 0 50%;
    font-size: 15px;
    color: #575757; }
  .order-form .text {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    color: #575757; }
  .order-form .row {
    margin: 0 0 15px; }
  .order-form .location {
    margin: 18px 0 18px;
    padding: 0 0 0 55px;
    background: url(http://domprobki.bi3x.org/local/templates/Akweb/images/ico02.png) no-repeat 0 75%;
    font-size: 15px;
    color: #575757;
    background-size: 40px 36px; }
  .order-form .show-comment {
    display: none; }

.order-box {
  margin: 30px 0 0;
  padding: 0 0 0 60px; }
  .order-box .order-button {
    display: inline-block;
    vertical-align: top;
    background: #C4010C;
    border: 0;
    cursor: pointer;
    border-bottom: 3px solid #C4010C;
    color: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 18px;
    width: 210px;
    text-align: center; }
    .order-box .order-button:hover, .order-box .order-button:focus, .order-box .order-button:active {
      text-decoration: none; }

.order-tabs .tabs-frame {
  padding: 30px; }
.order-tabs .tabs {
  width: 100%;
  overflow: hidden;
  list-style: none;
  padding-left: 0; }
  .order-tabs .tabs li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #575757;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.5px; }
    .order-tabs .tabs li:first-child a {
      -webkit-box-shadow: inset 0 -3px 5px 2px rgba(200, 200, 200, 0.2);
      -moz-box-shadow: inset 0 -3px 5px 2px rgba(200, 200, 200, 0.2);
      box-shadow: inset 0 -3px 5px 2px rgba(200, 200, 200, 0.2); }
  .order-tabs .tabs a {
    color: #575757;
    font-size: 16px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-shadow: inset 5px -6px 5px 0px rgba(200, 200, 200, 0.2);
    -moz-box-shadow: inset 5px -6px 5px 0px rgba(200, 200, 200, 0.2);
    box-shadow: inset 5px -6px 5px 0px rgba(200, 200, 200, 0.2); }
    .order-tabs .tabs a.active {
      border-top: 2px solid #C4010C;
      box-shadow: none !important; }
    .order-tabs .tabs a:focus {
      text-decoration: none; }
    .order-tabs .tabs a:hover {
      text-decoration: none; }

.order-steps .step {
  background: url("../img/bg-dash.png") repeat-y 25px 0;
  padding: 0 0 20px; }
  .order-steps .step:last-child {
    background: none; }
  .order-steps .step.active .title.ico-1 {
    background: url("../img/ico-order01-active.png") no-repeat 0 50%; }
  .order-steps .step.active .holder {
    opacity: 1; }
  .order-steps .step .frame {
    padding: 25px; }
  .order-steps .step .holder {
    margin: 12px 0 0 60px;
    background: #fff;
    border-radius: 6px;
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }
  .order-steps .step .title {
    padding: 0 0 0 60px; }
    .order-steps .step .title.ico-1 {
      background: url("../img/ico-order01.png") no-repeat 0 50%; }
    .order-steps .step .title.ico-2 {
      background: url("../img/ico-order02.png") no-repeat 0 50%; }
    .order-steps .step .title.ico-3 {
      background: url("../img/ico-order03.png") no-repeat 0 50%; }
    .order-steps .step .title h2 {
      font-size: 19px;
      color: #575757;
      line-height: 50px;
      font-weight: 500; }
  .order-steps .step .item {
    text-align: center;
    width: 30%;
    float: left;
    margin: 0 0 0 20px;
    box-sizing: border-box; }
    .order-steps .step .item:hover > a {
      border-color: #d3d3d3; }
    .order-steps .step .item:hover .popover {
      display: block;
      -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -ms-animation: fade-in .3s linear 1, move-up .3s linear 1; }
    .order-steps .step .item:first-child {
      margin-left: 0; }
    .order-steps .step .item img {
      display: inline-block;
      vertical-align: top;
      opacity: 0.5; }
    .order-steps .step .item > a {
      width: 100%;
      height: 150px;
      display: table-cell;
      vertical-align: middle;
      border-radius: 6px;
      border: 1px solid #eeeeef;
      color: #2d2d2d;
      font-size: 15px;
      box-sizing: border-box;
      padding: 10px;
      outline: none;
      position: relative; }
      .order-steps .step .item > a span {
        display: block;
        margin: 18px 0 0; }
      .order-steps .step .item > a:hover {
        text-decoration: none; }

.order-cells:after {
  content: "";
  display: block;
  clear: both; }

.order-pays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .order-pays .pay-item {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #eeeeef;
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    color: #969696;
    margin-bottom: 25px;
    position: relative; }
    .order-pays .pay-item .soon {
      width: 100%;
      position: absolute;
      left: 0;
      top: 58%;
      margin-top: -30px;
      text-align: center; }
      .order-pays .pay-item .soon em {
        display: inline-block;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        padding: 0 15px;
        line-height: 30px;
        font-style: normal;
        background: rgba(45, 45, 45, 0.5);
        border-radius: 3px; }
    .order-pays .pay-item:hover {
      text-decoration: none;
      border-color: #d3d3d3; }
    .order-pays .pay-item span {
      display: block;
      margin: 18px 0 0;
      text-align: center; }

.popover-container {
  background-color: rgba(196, 1, 12, 0.95);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica',sans-serif;
  left: 50%;
  bottom: 100%;
  transform: translateY(-50%);
  padding: 7px 10px;
  position: absolute;
  width: 150px;
  text-align: center;
  height: 50px;
  display: none;
  z-index: 999; }
  .popover-container:before {
    border-top: 7px solid rgba(196, 1, 12, 0.95);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (max-width: 1200px) {
  .order-left {
    width: calc( 100% - 520px ); }

  .order-right {
    width: 500px; }
    .order-right .cart {
      width: 500px; } }
@media (max-width: 1100px) {
  .order-steps .step .item {
    width: calc( 50% - 5px);
    margin: 0 10px 10px 0; }
    .order-steps .step .item:nth-child(even) {
      margin-right: 0; }

  .order-pays .pay-item {
    width: calc( 50% - 5px);
    margin-bottom: 10px; } }
@media (max-width: 992px) {
  .order-form {
    flex-wrap: wrap; }

  .order-left {
    width: 100%; }

  .order-right {
    width: 100%;
    padding: 30px 60px 0 60px; }
    .order-right .cart {
      width: 100%;
      position: static !important; }

  .order-steps .step .holder {
    margin-right: 60px; }
  .order-steps .step .item {
    max-width: 150px; }
    .order-steps .step .item:nth-child(even) {
      margin-right: 10px; }

  .order-pays {
    justify-content: flex-start; }
    .order-pays .pay-item {
      max-width: 150px;
      margin-right: 7px; } }
@media (max-width: 680px) {
  .order-steps .step {
    background: none; }
    .order-steps .step .holder {
      margin-right: 0;
      margin-left: 0; } }

/*# sourceMappingURL=new_styles.css.map */
